html
    head
        title Welcome on my awesome website!
        link(rel="stylesheet", href="/css/style.css")
    body
        main
            h1.txt-a-c Cliquez sur une image
            div#mainApp
                a(href="/result/paper")
                    img(src="img/paper.png")
                a(href="/result/scissors")
                    img(src="img/scissors.png")
                a(href="/result/rock")
                    img(src="img/rock.png")
                a(href="/result/lizzard")
                    img(src="img/lizzard.png")
                a(href="/result/spock")
                    img(src="img/spock.png")
