html
    head
        title Welcome on my awesome website!
        link(rel="stylesheet", href="/css/style.css")
    body
        main
            h1.txt-a-c Cliquez sur une image
            div#mainApp
                for item in data
                    a(href="/result/"+item.id)
                        img(src=item.imgSrc)
