html
    head
        title Welcome on my awesome website!
        link(rel="stylesheet", href="/css/style.css")
    body
        main
            h1.txt-a-c Cliquez sur une image
            div#mainApp
                a(href="/result/paper")
                    img(src="img/paper.png", data-choice="paper")
                a(href="/result/scissors")
                    img(src="img/scissors.png", data-choice="scissors")
                a(href="/result/rock")
                    img(src="img/rock.png", data-choice="rock")
                a(href="/result/lizzard")
                    img(src="img/lizzard.png", data-choice="lizzard")
                a(href="/result/spock")
                    img(src="img/spock.png", data-choice="spock")
